body
{
    background-color: rgb(228, 120, 120);
}
#emp
{
    background-color: aqua;
    color: rgb(8, 8, 182);
    padding: 10px;
    text-decoration-line:underline;
}
table
{
    background-color: rgb(0, 255, 34);
    padding: 10px;
    border: 2px solid rgb(224, 224, 13);
    
}
#h>th
{
    background-color: rgb(13, 123, 219);
    color: rgb(17, 4, 207);
    padding: 20px;
    font-size: larger;
    text-align: center;
}
#h>th:hover
{
    background-color: brown;
    color: beige;
}
#d>td
{
    text-align: center;
    padding: 10px;
    font-size: large;
    background-color: black;
    color: aliceblue;
}
#d1:hover
{
    background-color:yellow;
    color: rgb(19, 1, 177);
}
#d2:hover
{
    background-color: blue;
    color: aqua;
}
#d3:hover
{
    background-color: blueviolet;
    color: rgb(238, 223, 14);
}
#d4:hover
{
    background-color: cornsilk;
    color: rgb(0, 181, 252);
}
#d5:hover
{
    background-color:rgb(201, 8, 8);
    color: aqua;
}
#d6:hover
{
    background-color: blue;
    color: rgb(235, 225, 225);
}
#d7:hover
{
    background-color: rgb(78, 9, 190);
    color: rgb(4, 157, 204);
}